body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", "Arial", sans-serif;
}
#square {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 500px;
    border-radius: 25px;
    padding: 25px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#square img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

span {
    text-align: center;
}

#header p {
    font-weight: 700;
    font-size: 18pt;
    color: hsl(218, 44%, 22%);
}

#subheader p {
    font-weight: 400;
    font-size: 14pt;
    color: hsl(220, 15%, 55%);
}

